* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Kanit;
  background-color: #404A65;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px;
}

h1{
  padding-top: 50px;
  color: #ECEDF0;
  font-weight: 600;
  font-size: 64px;
  border-color: #35383F;
  text-shadow: 2px 2px 0px #35383f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #35383f;
}
img{
  margin-bottom: 15px;
}
.cursor{
  cursor: pointer;
  margin-top: 35px;
  margin-bottom: 25px;
  padding-right: 40px;
    padding-left: 40px;
}
button{
  border: 2px solid #1F6FB0;
  padding: 0 20px;
  background-color: #1F6FB0;
  color: #ECEDF0;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  border-radius: 7px;
  margin-top: 30px;
}
h3{
  color: #ECEDF0;
  font-weight: 600;
  font-size: 24px;
}

.flip {
  animation: flipCoin 1s ease-in-out forwards;
}

@keyframes flipCoin {
  0% { transform: rotateY(0deg); }
  50% { transform: rotateY(1800deg); }
  100% { transform: rotateY(3600deg); }
}
